.media__info{
    height: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: white;
    position: relative;
    background: linear-gradient(90deg, #000 40%, #00000081 60.85%, #0000001f 67.23%);
    transition: .3s linear;
    .close{
        cursor: pointer;
        position: absolute;
        top: 30px;
        right: 30px;
    }
    &.active{
        height: 700px;
        margin-top: 30px;
    }
    &-content{
        >img{
            position: absolute;
            right: 0;
            top: 0;
            width: 60%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }
        height: 100%;
    
        &-block{
            padding-left: 50px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 30px;
            h2{
                font-weight: 700;
                font-size: 50px;
            }
            p{
                font-size: 20px;
                line-height: 1.5;
                max-width: 935px;
            }
        }
    }
}